@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-syne: "Syne", sans-serif;
  --font-space-grotesk: "Space Grotesk", sans-serif;
}

body {
  font-family: var(--font-space-grotesk); 
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-syne);
}

@layer base {
  :root {
    --background: 220 59% 99%;
    --foreground: 220 51% 3%;
    --muted: 190 36% 91%;
    --muted-foreground: 190 0% 39%;
    --popover: 220 59% 99%;
    --popover-foreground: 220 51% 3%;
    --card: 220 59% 99%;
    --card-foreground: 220 51% 3%;
    --border: 220 11% 93%;
    --input: 220 11% 93%;
    --primary: 220 97% 50%;
    --primary-foreground: 0 0% 100%;
    --secondary: 190 97% 50%;
    --secondary-foreground: 190 97% 10%;
    --accent: 250 97% 50%;
    --accent-foreground: 0 0% 100%;
    --destructive: 10 90% 39%;
    --destructive-foreground: 0 0% 100%;
    --ring: 220 97% 50%;
    --chart-1: 220 97% 50%;
    --chart-2: 190 97% 50%;
    --chart-3: 250 97% 50%;
    --chart-4: 190 97% 53%;
    --chart-5: 220 100% 50%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 220 42% 0%;
    --foreground: 220 11% 98%;
    --muted: 190 36% 9%;
    --muted-foreground: 190 0% 61%;
    --popover: 220 42% 0%;
    --popover-foreground: 220 11% 98%;
    --card: 220 42% 0%;
    --card-foreground: 220 11% 98%;
    --border: 220 11% 14%;
    --input: 220 11% 14%;
    --primary: 220 97% 50%;
    --primary-foreground: 0 0% 100%;
    --secondary: 190 97% 50%;
    --secondary-foreground: 190 97% 10%;
    --accent: 250 97% 50%;
    --accent-foreground: 0 0% 100%;
    --destructive: 10 90% 46%;
    --destructive-foreground: 0 0% 100%;
    --ring: 220 97% 50%;
    --chart-1: 220 97% 50%;
    --chart-2: 190 97% 50%;
    --chart-3: 250 97% 50%;
    --chart-4: 190 97% 53%;
    --chart-5: 220 100% 50%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}



@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
